body{
    background-color: #fafbfc;
}
h3{
    font-size: 1em;
    font-weight: bold
}
main{
    display: grid;
    grid-template-columns: 4fr, 1fr;
    grid-gap: 2em;
}
.recent_searches{
    grid-column: 2;
    grid-row: 1;
}
.photos_wrapper{
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-top: 0;
    grid-gap: 1vh;
}
.image_cell{
    margin: 0;
    float: left;
    position: relative;
    max-height: 100%;
}
.image_cell > img{
    position: relative;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 85%;
}
.subtext{
    color: #575b5f;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* header */
.fade-carousel {
    position: relative;
    height: 44vh;
}
.fade-carousel .carousel-inner .item {
    height: 44vh;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero h3 {
    font-size: 1em;    
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: right;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .6;
}

.fade-carousel .slides .slide-1 {
    height: 44vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); 
}
/*          Media Queries       */
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }    
}

/* search bar */
.search-container{
    width: 55vw;
    min-width: 19em;
    margin: 0 auto;
    display: block;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
  
.search-container .field-input input {
    text-align: left;
    border-radius: 6rem;
    border: 1px solid #a0a0a0;
    padding: .6rem 2rem .6rem 1rem;
    width: 100%;
    transition: .5s;
    margin: 0 auto;
}
.search-container .field-input input:focus {
    outline: none;
    border-color: #212121;
    transition: .5s;
}
.search-button::before{
    cursor: pointer;
    position: inline;
    font-family: 'fontawesome';
    top: 0;
    right: 1.5rem;
}
