body{
    background-color: #fafbfc;
}
/* header */
.fade-carousel {
    position: relative;
    height: 44vh;
}
.fade-carousel .carousel-inner .item {
    height: 44vh;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero h3 {
    font-size: 1em;    
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: right;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .6;
}

.fade-carousel .slides .slide-1 {
    height: 44vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); 
}
/*          Media Queries       */
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }    
}

/* search bar */
.search-container{
    width: 65vw;
    display: block;
    margin: 0 auto;
    padding-top: 3vh
    }
  
input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

input#search-bar:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    transition: opacity 0.45s ease; 
    opacity: 0;
} 

.search-icon{
    position: relative;
    float: right;
    width: 4vw;
    height: 4vw;
    top: -3.6vw;
    right: -2.4vh;
}