{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Flickr App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'FlickrApp/index.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/doodle/48/000000/flickr.png"/>
</head>

<body>
    <div header>
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="1" id="bs-carousel">
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="overlay"></div>
                    <div class="slide-1"></div>
                    <div class="hero">
                        <hgroup>
                            <h1>Best Flickr Search App Ever*</h1></br>
                            <h3>*[Citation Needed]</h3>
                        </hgroup>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-container">
        <form class="field-input">
            <input type="text" placeholder="kittens and puppies"/>
            <!--<div class=search-button>&#x1F50D</div>  -->
        </form>
    </div>
    <main role="main" class="container">
        <div class="recent_searches">
            <h3>Previous Searches</h3>
            <ul>
                {% for keyword in keywords%}
                <li>{{ keyword.keyword }}</li>
                {% endfor %}
            </ul>
        </div> 
        <div class="photos_wrapper">
            {% for photo in photos %}
            <div class=image_cell>
                <img src="{{ photo.link }}"  alt="{{ photo.title }}">
                <div class=subtext>{{ photo.title }}</div>
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>